.form-control {
    border-radius: 0;
    color: $primaryColor;
}
input[type=file] {
    opacity: 0;
    height: 0;
    position: relative;
    z-index: -1;
    
    & + label{
        background-color: $primaryColor;
        display: inline-block;
        color: $white;
        width: 100%;
        margin: 0;
        text-align: center;
        
        @extend .btn;

        &:hover {
            background-color: $blue;
        }
    }

    &:focus + label{
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }
}

.dropbox i {
    font-size: 1.3rem;
}

.error {
    border: 1px solid $red;
}

.valid {
    display: none;
    color: $green;
}

.invalid, .error-msg {
    display: none;
    color: $red;
}